* {
  box-sizing: border-box;
}
/*======START navbar======*/
.navbar {
  background-color: teal;
  margin: auto;
  width: 80%;
  border-radius: 0px 0px 30px 30px;
}
.navbar-brand span {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand span:first-child {
  color: #fff;
  font-weight: bold;
}
.navbar-brand span:last-child,
.navbar-light .navbar-nav .active {
  color: #151715b0 !important;
  font-weight: 600;
  font-family: sans-serif;
}
.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 15px;
  color: #fff !important;
  padding: 10px;
  font-weight: 600;
  transition: all 0.7s ease-in-out;
  border-bottom: solid #fff 2px;
  border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link:hover {
  border-top: solid #fff 2px;
  border-right: solid #fff 2px;
  border-left: solid #fff 2px;
  border-bottom: none;
  border-radius: 5px;
}
/*======END navbar======*/
/*=====START slider =====*/
.slider {
  background-color: #333;
}
.slider .carousel-inner .cover-slid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}
.slider .carousel-item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.slider .caro1 {
  background-image: url("../imgs/sl2.jpg");
}
.slider .caro2 {
  background-image: url("../imgs/sl1.jpg");
}
.slider .caro3 {
  background-image: url("../imgs/sl3.jpg");
}
.slider .carousel-indicators li {
  height: 7px;
}
.slider .carousel-inner .content {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.slider .carousel-inner h1 {
  position: absolute;
  color: #fff;
  max-width: 800px;
  line-height: initial;
  text-align: center;
  font-size: 3rem;
  z-index: 3;
}
.slider .carousel-inner h1 span {
  background-color: tomato;
  color: #fff;
  border-radius: 15px;
  padding: 0px 16px;
  box-shadow: 0 0 7px tomato;
}
@media (max-width: 374px) {
  .slider .carousel-inner h1 span {
    font-size: 2.5rem;
  }
}
/*=====END slider =====*/
/*=====START icone =====*/
.lcons div i {
  font-size: 2rem;
  background-color: tomato;
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-bottom: 7px;
  line-height: 100%;
}
.lcons div h3 {
  color: teal;
  font-family: cursive;
}
.lcons div p {
  color: #6f6a6abd;
}
/*=====END icone =====*/
/*======START Overview =========*/
.overview {
  width: 100%;
  padding: 45px;
}
.overview div h1 {
  text-transform: uppercase;
  font-weight: 900;
}
.overview p {
  width: 70%;
  margin: 0 auto 40px;
  font-size: 1.3rem;
  color: #3c3a3acf;
  line-height: 2;
}
.overview h4 {
  color: #3c3a3acf;
  font-size: 1.7rem;
  letter-spacing: 10px;
  line-height: 2;
}
.overview button {
  background-color: tomato;
  padding: 5px 40px;
  font-size: 1.8rem;
  border: 1px solid tomato;
  color: #fff;
  text-transform: uppercase;
  border-radius: 7px;
  box-shadow: 0 0 5px #ff0808;
}
/*======END========*/
/*======START Works =========*/
.works div h1 {
  font-weight: 900;
}
.works div p {
  font-size: 1rem;
  color: #3c3a3acf;
  line-height: 2;
}
.works {
  width: 100%;
  padding: 45px 0px 0px 0px;
}
.works div ul {
  margin-bottom: 48px;
}
.works div ul li {
  color: teal;
  margin-left: 25px;
  margin-bottom: 15px;
  padding: 5px 0px;
  font-size: 1.3rem;
  font-weight: 600;
  border: teal 2px solid;
  box-shadow: 1px 1px 5px teal, -1px -1px 5px teal;
}
.works div ul li.active,
.works div ul li:hover {
  color: #fff;
  background-color: tomato;
  border: tomato 2px solid;
  cursor: pointer;
  box-shadow: 1px 1px 5px tomato, -1px -1px 5px tomato;
}
.works .ab-imgs div img {
  width: 100%;
  border: #fff solid 1px;
}
.works .ab-row .row {
  margin: 0;
}
.works .ab-row .row .col-sm {
  padding: 0 !important;
}
/*======END==========*/
/*======= START news==========*/
.news .container h1 {
  font-family: sans-serif;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 800;
  text-align: center;
}
.news .card a {
  color: teal;
  font-weight: bold;
  padding: 10px;
  border-bottom: solid 3px tomato;
  text-decoration: none;
}

.news .card .card-title {
  color: teal;
  font-size: 30px;
  padding-left: 10px;
  border-left: solid;
}
.news .card {
  margin-bottom: 25px;
}
/*=========END===========*/
/*========START contact-us========*/
.contact-us {
  text-align: center;
  padding: 50px 0px;
  background-color: teal;
  color: #fff;
  font-size: 1.5rem;
}
.contact-us p {
  font-weight: 800;
}
.contact-us a {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 5px 30px;
  border-radius: 15px;
  border: white solid;
  transition: all 0.8s;
}
.contact-us a:hover {
  color: tomato;
  border: white solid;
  border-radius: 5px;
  text-decoration: none;
}
/*========End==========*/
/*======START araa========*/
.araa {
  background-image: url("../imgs/sl3.jpg");
  background-size: 100% 100%;
  height: 80vh;
  position: relative;
}
.araa .cover-slid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}
.araa .container {
  position: relative;
  z-index: 5;
}

.araa .carousel-inner .carousel-caption {
  top: 40%;
  margin-top: -150px;
}

.araa .carousel-inner .carousel-caption img {
  width: 150px;
  margin-bottom: 20px;
}
.araa .carousel-inner .carousel-caption h5 {
  font-size: 1.7rem;
}
.araa .carousel-inner .carousel-caption p {
  font-size: 1.5rem;
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}
.araa .caro-cont {
  background-color: #000;
  width: 50px;
  height: 50px;
  padding: 15px;
  padding: 15px;
}
.araa .caro-cont:hover {
  background-color: tomato;
  width: 50px;
  height: 50px;
  padding: 15px;
  padding: 15px;
}
.araa .carousel-indicators li {
  height: 7px;
}
/*========END============*/
/*======START .contact-us2=======*/
.contact-us2 {
  text-align: center;
  padding: 50px 0px;
  background-color: teal;
  color: #fff;
  font-size: 1.5rem;
}
.contact-us2 {
  background-color: tomato;
  padding: 65px 0px;
}
.contact-us2 p {
  font-weight: 400;
}
/*=====END========*/